.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App{
  height: 100vh;
}

.container{
  width: 100%;
  height: 100%;
}

.video-section{
  display: flex;
  width: 100%;
  height: 70%;
  align-items: center;
}

.youtube-blocker{
  position:absolute;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 40%;
}

.youtube-blocker-text{
  color:white;
  text-align: center;
  height: 10%;
  margin-top: 35%;
}

.youtube-player{
  flex: 60%;
  width: 100%;
  display: flex;
  justify-content: center;
  position:relative;
}

.control-buttons{
  display: flex;
  justify-content: center;
}

.reaction-section{
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  top: 25vh;
}

.reaction-video{
  position: relative;
  display: contents;
  height: 100vh;
}

.stat-section{
  top: 45vh;
  width: 250px;
  height: 300px;
  position: relative;
  justify-content: center;
  display: flex;
  background-color: black;
}


